repos:

- repo: local
  hooks:
    - id: black
      name: Black
      entry: pipenv run black
      language: system
      types: [python]
    - id: isort
      name: Isort
      entry: pipenv run isort
      language: system
      types: [python]
    - id: flake8
      name: Flake8
      entry: pipenv run flake8
      language: system
      types: [python]
    - id: mypy
      name: Mypy
      entry: pipenv run mypy
      language: system
      types: [python]
