[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
isort = "*"
"flake8" = "*"
coverage = "*"
tox = "*"
bumpversion = "*"
twine = "*"
black = "==19.10b0"
mypy = "*"
