# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  code-quality:
    name: Code quality ${{ matrix.tox_env }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.11']
        tox_env: [flake8, isort, black, mypy]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v6.0.0
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox coverage
    - name: Run tox ${{ matrix.tox_env }}
      run: |
        tox -e ${{ matrix.tox_env }}

  test:
    name: Test on python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python_version: '3.8'
            tox_env: py38
          - python_version: '3.9'
            tox_env: py39
          - python_version: '3.10'
            tox_env: py310
          - python_version: '3.11'
            tox_env: py311
          - python_version: '3.12'
            tox_env: py312

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v6.0.0
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox coveralls
    - name: Test with tox
      run: |
        tox -e ${{ matrix.tox_env }}
    - name: Upload coverage data to coveralls.io
      run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: Python ${{ matrix.python_version }}
        COVERALLS_PARALLEL: true

  coveralls:
    name: Indicate completion to coveralls.io
    needs: test
    runs-on: ubuntu-latest
    container: python:3-alpine
    steps:
    - name: Finished
      run: |
        python -m pip install --upgrade coveralls
        coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
