# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Test on python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python_version: '3.7'
            tox_env: py37
          - python_version: '3.8'
            tox_env: py38
          - python_version: '3.9'
            tox_env: py39
          - python_version: '3.10'
            tox_env: py310
        
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox coveralls
    - name: Test with tox
      run: |
        tox -e ${{ matrix.tox_env }}
    - name: Send to coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}"
      run: |
        coveralls
